
<!DOCTYPE html>
<html>

<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-hyphen#{name}") %>
		<% end %>
		<%= yield %>
	 </div>
</body>

<div id="wrap">
  <div id="main" class="container clear-top">
  	<%= render 'layouts/footer' %>
  </div>
</div>
<footer class="footer"></footer>

</html>
